a {
  text-decoration: none;
}

.background {
  background: url("../images/plans-background.jpg");
  background-size: cover;
  filter: grayscale(50%);
  filter: blur(6px);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.section-box {
  padding: 2rem;
  width: 80%;
  margin: 2rem 0;
  border: 5px solid #0e4f1f;
  border-left: 0px;
  position: relative;
}

.RECOMMENDED {
  display: inline-block;
  position: absolute;
  width: 20%;
  font-size: 1rem;
  color: white;
  background-color: #ca1c1c;
  right: 1.25rem;
  top: 2rem;
  padding: 0.5rem 0.5rem;
}

.section-box__name {
  border: 0;
  font-size: 1.9rem;
  font-weight: bold;
  color: black;
}

.section-box__brief {
  color: #858585;
}

.section-box__description {
  font-size: 1.25rem;
  border: 2px solid #0e4f1f;
  background-color: white;
  color: black;
  padding: 10px;
}

#free-plan {
  position: relative;
  left: 16rem;
  border-right: none;
  border-left: 5px solid #0e4f1f;
  background-color: rgba(234, 252, 237, 0.95);
}

.section-box:hover,
.section-box:active {
  box-shadow: 2px 2px 4px rgba(222, 131, 131, 0.5);
  border-color: #ff5454 !important;
}

#plus {
  margin-top: 3.75rem;
  background-color: rgba(213, 255, 220, 0.95);
}

#premium-plan {
  color: white;
  background-color: rgba(14, 79, 31, 0.95);
}

#premium-plan .section-box__name,
#premium-plan .section-box__brief {
  color: white;
}